h1, h2, h3, h4, h5, h6, p
  text-align center

h1
  font-size 200%
h2
  font-size 183.334%
h3
  font-size 166.667%
h4
  font-size 150%
h5
  font-size 133.334%
h6
  font-size 116.667%
p
  font-size 75%

a
  color #dc322f

.border
  border 0.25em solid #586e75
