h1 The Game Class FAQ
br
br
a(href="javascript:void()").btn.btn-danger.btn-lg.center Post helpful articles in #sss (Slack) [Please!]
br
br
h4 FAQ >> Game

br
br

div.container
  div.row
    div.col-xs-12
      a(href="javascript:void()").btn.btn-warning.btn-lg null
