h1 The Golang FAQ
h4 FAQ >> Golang

br
br

div.container
  div.row
    div.col-xs-6.center
      a(href="/faq/go/gopath.html").btn.btn-warning.btn-lg $GOPATH Setup
    div.col-xs-6.center
      a(href="/faq/go/run-a-file.html").btn.btn-warning.btn-lg Run/Compile a file
