h1 The JavaScript (Mostly Node) FAQ
h4 FAQ >> JavaScript

br
br

div.container
  div.row
    div.col-xs-6
      a(href="/faq/js/shebang-line.html").btn.btn-warning.btn-lg Shebang Line
    div.col-xs-6
      a(href="/faq/js/colors.html").btn.btn-warning.btn-lg Colors
  div.row
    div.col-xs-6
      br
      br
      a(href="/faq/js/syntax.html").btn.btn-warning.btn-lg Syntax
