h1 The Linux Pi FAQ
h4 FAQ >> Linux Pi

br
br

div.container
  div.row
    div.col-xs-6.center
      a(href="/faq/pi/shebang-line.html").btn.btn-warning.btn-lg Shell Shebang Line
    div.col-xs-6.center
      a(href="/faq/pi/run-a-file.html").btn.btn-warning.btn-lg Run A Shell File
