h1 The Python FAQ
h4 FAQ >> Python

br
br

div.container
  div.row
    div.col-xs-6.center
      a(href="/faq/python/shebang-line.html").btn.btn-warning.btn-lg Shebang Line
    div.col-xs-6.center
      a(href="/faq/python/colors.html").btn.btn-warning.btn-lg Colors
  div.row
    br
    br
    div.col-xs-6.center
      a(href="/faq/python/syntax.html").btn.btn-warning.btn-lg Syntax
    div.col-xs-6.center
      a(href="/faq/python/run-a-file.html").btn.btn-warning.btn-lg Running A File
