doctype
html
  head
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/solarized-dark.css")
    link(rel="stylesheet" href="/css/base.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/main.css")
  body
    br
    br

    ul.nav.nav-pills.border
      li
        a(href="/").btn-lg
          i.fa.fa-home  Home
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/faq.html").btn-lg
          i.fa.fa-question  FAQ
    != yield
