doctype
html
  head
    link(rel="stylesheet" href="/css/bootstrap.css")
    link(rel="stylesheet" href="/css/solarized-dark.css")
    link(rel="stylesheet" href="/css/base.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="icon" type="image/png" href="http://skilstak.io/favicon.png")
    title SSS-FAQ | #{public._data.version}
  body
    br
    br

    ul.nav.nav-pills.border
      li
        a(href="/").btn-lg
          i.fa.fa-home  Home
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/faq.html").btn-lg
          i.fa.fa-question-circle  FAQ
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/devs.html").btn-lg
          i.fa.fa-user  Developers
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/contribute.html").btn-lg                                                                                                     
          i.fa.fa-pencil  Contribute
      li
        p &nbsp;&nbsp;&nbsp;&nbsp;
      li
        a(href="/cc.html").btn-lg
          i.fa.fa-creative-commons  CodeCombat

    br
    br
    != yield
    br
    br

    div.border
      h4 SSS Main: #{public._data.main_version}
      h4 SSS Website: #{public._data.version}
