h2 Welcome to the FAQ CodeCombat Help Page
br
h3 This is highly work in progress!

br
br

div.container
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon.jade").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Kithgard Dungeon
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/forest.jade").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Backwoods Forest
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/desert.jade").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Sarven Desert
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/mountain.jade").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Cloudrip Mountain
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/glacier.jade").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Kelvintaph Glacier
      br
      br
