h2 How to contribute!

br
br

div.container
  div.row
    div.col-xs-12
      div.center.border
        a(href="https://skilstak.slack.com/files/coderpythonx/F0GJE5Y5T/sss_markdown_article_layout.md")
          p Step One: Get the official format for FAQ articles.
      div.center.border
        p Step Two: Fill out an article that you think would solve a common problem. (5+ Tickets)
      div.center.border
        p Step Three: Submit the article to the #sss channel on slack.
      div.center.border
        p Step Four: Wait. If it gets accepted, it will be edited and posted. If not, you will be notified of some potential issues.
br
h4 If you do not follow guidlines, your articles is much less likely to get added!
