h2 How to contribute!

br
br

div.container
  div.row
    div.col-xs-12
      div.center.border
        a(href="https://skilstak.slack.com/files/coderpythonx/F0GJE5Y5T/sss_markdown_article_layout.md")
          p Step One: Get the official format for FAQ articles.
      div.center.border
        p Step Two: Fill out an article explaining the solution to a common problem. (It <strong><em>must</em></strong> have had atleast 5 tickets previously submitted on the subject! <strong><em>NO EXCEPTIONS</em></strong>)
      div.center.border
        p Step Three: Submit the article to the "#sss" channel on slack.
      div.center.border
        p Step Four: Wait. If it gets accepted, it will be edited and posted. If not, you will be notified of some potential issues.

br
h3 Failure to follow the guidelines above will result in the rejection of your article.
