h2 How to contribute!

br
br

div.container
  div.row
    div.col-xs-12
      li.center.border
        a(href="https://skilstak.slack.com/files/coderpythonx/F0GJE5Y5T/sss_markdown_article_layout.md")
          p Step One: Get the official format for FAQ articles.
      li.center.border
        a(href="javascript:void()")
          p Step Two: Fill out an article that you think would solve a common problem. (5+ Tickets)
      li.center.border
        a(href="javascript:void()")
          p Step Three: Submit the article to the #sss channel on slack.
