h2 How to contribute!

br
br

div.container
  div.row
    div.col-xs-12
      li.center.border
        a(href="https://skilstak.slack.com/files/coderpythonx/F0GJE5Y5T/sss_markdown_article_layout.md")
          p Step One: Get the official format for FAQ articles.
