h1 The magical developers who brought you SSS

div.container
  div.row
    div.col-xs-12.col-md-6.col-lg-3.center
      ul
        li
          a(href="http://github.com/whitman-colm").btn.btn-warning.btn-lg
            i.fa.fa-github.fa-lg  @whitman-colm

    div.col-xs-12.col-md-6.col-lg-3.center
      ul
        li
          a(href="http://github.com/tslnc04").btn.btn-warning.btn-lg
            i.fa.fa-github.fa-lg  @tslnc04

    div.col-xs-12.col-md-6.col-lg-3.center
      ul
        li
          a(href="http://github.com/donovank").btn.btn-warning.btn-lg
            i.fa.fa-github.fa-lg  @donovank
