h1 The magical developers who brought you SSS

div.container
  div.row
    div.col-xs-12.col-md-6.col-lg-3
      ul
        li
          a(href="javascript:alert('This is a test!')").btn.btn-default.btn-lg Test
