h1 Welcome to the SSS FAQ

br
br

div.container
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/faq/go.html").btn.btn-warning.btn-lg
        i.fa.fa-code.fa-lg  Golang
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/faq/python.html").btn.btn-warning.btn-lg
        i.fa.fa-code.fa-lg  Python
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/faq/game.html").btn.btn-warning.btn-lg
        i.fa.fa-code.fa-lg  Game
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/faq/js.html").btn.btn-warning.btn-lg
        i.fa.fa-code.fa-lg  JavaScript (Node)
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/faq/pi.html").btn.btn-warning.btn-lg
        i.fa.fa-code.fa-lg  Linux Pi
    div.col-xs-12.col-md-6.center
      a(href="javascript:void()").btn.btn-warning.btn-lg
        i.fa.fa-colock-o.fa-lg  Coming Soon&trade;
