h1 Welcome to the SSS FAQ

br
br

div.container
  div.row
    div.col-xs-12.col-md-6
      ul
        li
          a(href="/faq/go.html").btn.btn-warning.btn-lg
            i.fa.fa-code.fa-lg  Golang
        li
          a(href="/faq/py.html").btn.btn-warning.btn-lg
            i.fa.fa-code.fa-lg  Python
