h2 Welcome to the CodeCombat Dungeon Help Page!
br
h3 This is highly work in progress!

br
br

div.container
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/dungeons-of-kithgard.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Dungeons of Kithgard
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/gems-in-the-deep.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Gems in the Deep
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/shadow-guard.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Shadow Guard
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/signs-and-potents.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Signs and Potents
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/forgetful-gemsmith.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Forgetful Gemsmith
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/true-names.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  True Names
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/the-raised-sword.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  The Raised Sword
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/fire-dancing.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Fire Dancing
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/loop-da-loop.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Loop Da Loop
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/haunted-kithmaze.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Haunted Kithmaze
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/the-second-kithmaze.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  The Second Kithmaze
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/dread-door.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Dread Door
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/known-enemy.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Known Enemy
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/master-of-names.html").btn.btn-warning.btn-lg
        i.fa.fa-creative-commons.fa-lg  Master of Names
      br
      br
  div.row
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/lowly-kithmen.html").btn.btn-warning.btn-lg.disabled
        i.fa.fa-creative-commons.fa-lg  Lowly Kithmen
      br
      br
    div.col-xs-12.col-md-6.center
      a(href="/cc/dungeon/closing-the-distance.html").btn.btn-warning.btn-lg.disabled
        i.fa.fa-creative-commons.fa-lg  Closing The Distance
      br
      br
